{% extends "base.html" %}

{% block content %}
<a href="{% url 'ledger:recipe_list' %}">Return to Recipe List</a>

<h2>{{ recipe.name }}</h2>

<h3>
    Made by: {{ recipe.profile.user.username }},
    Created {{ recipe.created_on|date:"Y-m-d" }},
    Updated last {{ recipe.updated_on|date:"Y-m-d" }}
</h3>

<h3>Ingredients:</h3>
<ul>
    {% for ingredient in recipe.ingredients.all %}
        <li>{{ ingredient.quantity }} - {{ ingredient.ingredient.name }}</li>
    {% endfor %}
</ul>
{% endblock %}