{% extends "base.html" %}

{% block content %}
<a href="{% url 'ledger:recipe_list' %}">Return to Recipe List</a> |
{% if user.is_authenticated %}
    <a href="{% url 'ledger:recipe_add_image' recipe.pk %}">Add Image</a>
{% endif %}

<h2>{{ recipe.name }}</h2>

<h3>
    Made by: {{ recipe.profile.name }}
    ({{ recipe.profile.user.username}}),
    <br>
    Bio: {{ recipe.profile.short_bio}}
    <br>
    Created {{ recipe.created_on|date:"Y-m-d" }},
    Updated last {{ recipe.updated_on|date:"Y-m-d" }}
</h3>

<h3>Ingredients:</h3>
<ul>
    {% for ingredient in recipe.ingredients.all %}
        <li>{{ ingredient.quantity }} - {{ ingredient.ingredient.name }}</li>
    {% endfor %}
</ul>

<h3>Images:</h3>

{% for image in recipe.images.all %}
    <div>
        <img src="{{ image.image.url }}" alt = "{{ image.description }}" width ="300">
        <p>{{ image.description }}</p>
    </div>
{% empty %}
    <p>No images uploaded.</p>
{% endfor %}

{% endblock %}